body {
  background: lightgray;
}

.App {
  text-align: center;
  display: inline-block;
  margin: 0 3%;
  height: 100vh;
  width: 94%;
  background: white;
  overflow: scroll;
}

#navbar {
  width: 94vw;
  height: 7vh;
  position: fixed;
  display: flex;
  border-bottom: 1px solid black;
  background: black;
  color: white;
}

#navbar a {
  margin: auto;
  text-decoration: none;
}

#navbar a:link {
  color: white;
}

#navbar a:visited {
  color: white;
}
}

  position: relative;
  margin: 1%;
  padding: 1%;
  min-height: max-content;
  min-width: max-content;
}
