body {
  background: lightgray; }

.App {
  text-align: center;
  display: inline-block;
  height: 100vh;
  width: 100%;
  background: #F0F1F0;
  overflow: scroll; }

.hidden {
  display: none; }

#navbar {
  width: 100vw;
  height: 9vh;
  position: fixed;
  display: flex;
  background: #4EB47A;
  color: white;
  z-index: 1; }
  #navbar a {
    margin: auto;
    text-decoration: none; }
    #navbar a:link {
      color: white; }
    #navbar a:visited {
      color: white; }

.welcome {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  background: #4EB47A;
  color: white; }
  .welcome h1 {
    font-size: 3.8em;
    background: #F0F1F0;
    color: #4EB47A;
    margin: 0;
    padding: 2em; }
  .welcome a, .welcome a:link, .welcome a:visited, .welcome a:hover {
    position: relative;
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    margin: 6vw;
    top: 5vh; }
  .welcome a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    top: 1.5em;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0; }
  .welcome a:hover:after {
    width: 100%;
    left: 0; }

.dog-cards-container {
  position: relative;
  display: flex;
  top: 9vh;
  flex-flow: wrap;
  justify-content: center; }
  .dog-cards-container a {
    text-decoration: none; }

.dog-show {
  display: grid;
  grid-template-columns: 40vw [skills-end log-start] 40vw [log-end header-end sidebar-start] auto;
  grid-template-rows: 14vh [header-end body-start] auto;
  position: relative;
  top: 9vh; }

.dog-header {
  grid-column-start: 1;
  grid-column-end: header-end;
  grid-row-end: header-end; }

.skills-container {
  grid-column-start: 1;
  grid-column-end: skills-end;
  grid-row-start: body-start;
  height: 76vh;
  overflow: scroll; }

.notes-container {
  grid-column-start: log-start;
  grid-column-end: log-end;
  grid-row-start: body-start;
  height: 70vh;
  overflow: scroll;
  background: white;
  border-radius: 21px;
  text-align: left;
  padding: 2vw; }
  .notes-container h3 {
    text-align: center; }

.dogs-sidebar {
  grid-column-start: sidebar-start;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
  align-content: center;
  height: 70vh;
  overflow: scroll;
  border-left: 1px solid gray;
  padding: 2em; }
  .dogs-sidebar a {
    text-decoration: none; }
  .dogs-sidebar .dog-card {
    position: relative;
    right: -5em;
    margin-bottom: -14em;
    box-shadow: 0px -5px 6px 0px #d2d2d2;
    transition: margin 0.5s ease-in-out, right 0.5s ease-in-out; }
    .dogs-sidebar .dog-card:hover {
      margin-bottom: 1em;
      right: 1em; }

.dog-card {
  background: white;
  border-radius: 21px;
  width: 155px;
  height: 263px;
  margin: 11px;
  color: #21354A;
  cursor: pointer;
  transition: margin 0.5s ease; }
  .dog-card h3 {
    margin: auto;
    font-size: 1.6em; }

.skill {
  background: white;
  border-radius: 21px;
  text-align: left;
  margin: 5%;
  padding: 1vw; }
  .skill .skill-buttons button {
    border: none;
    color: white;
    font-size: .9em;
    padding: .5em;
    cursor: pointer; }
    .skill .skill-buttons button.practice-skill {
      background: #21354A;
      border-top-left-radius: 21px;
      border-bottom-left-radius: 21px; }
    .skill .skill-buttons button.edit-rate {
      background: #4EB47A; }
    .skill .skill-buttons button.remove-skill {
      background: #AE2D49;
      border-top-right-radius: 21px;
      border-bottom-right-radius: 21px; }
    .skill .skill-buttons button.update-rate {
      background: #4EB47A;
      border-top-right-radius: 21px;
      border-bottom-right-radius: 21px; }
  .skill .skill-buttons select {
    height: 2.9em;
    top: -.1em;
    position: relative; }

.skill-form-button {
  overflow: auto; }

button.light, input.light {
  border: 1px solid #F0F1F0;
  color: gray; }
  button.light:hover, input.light:hover {
    color: #424342;
    border: 1px solid gray;
    cursor: pointer; }

button, input {
  border: 1px solid black;
  color: gray; }

.plus-sign {
  background: #4EB47A;
  display: inline-block;
  position: relative;
  margin: auto;
  border-radius: 60%;
  color: white; }
  .plus-sign#add-dog-button {
    top: 9%;
    width: 90px;
    height: 90px;
    font-size: 4em; }
  .plus-sign#add-skill-button {
    width: 4vw;
    height: 4vw;
    float: right;
    font-size: 3vw;
    text-align: center; }

#note-form {
  display: block;
  position: absolute;
  bottom: 2vh;
  margin: auto; }

/*# sourceMappingURL=App.css.map */
